[submodule "athenaApp"]
	path = athenaApp
  url = https://github.com/amelia-brown/athenaApp.git
[submodule "athenaTicket"]
	path = athenaTicket
	url = https://github.com/amelia-brown/athenaTicket.git
[submodule "athenaKb"]
	path = athenaKb
	url = https://github.com/amelia-brown/athenaKb.git
[submodule "athenaKbSearch"]
	path = athenaKbSearch
	url = https://github.com/amelia-brown/athenaKbSearch.git
[submodule "athenaUser"]
	path = athenaUser
	url = https://github.com/amelia-brown/athenaUser.git
